@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");



body {
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: black;
    opacity: 0.92;
    z-index: -1;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.06;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    background-size: cover; /* Ensure the background image covers the entire container */
}

.pesan{
    color : #f4eeee;
    font-family: 'Fragment Mono', monospace;
    font-size: 3.8rem;
    position: absolute;
    top: 40%;
    /* opacity: 0.5; */
}

.pesan2{
    color : #f4eeee;
    font-family: 'Fragment Mono', monospace;
    font-size: 1.5rem;
    position: absolute;
    top: 52%;
    opacity: 0.6;

}
.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}





.hour, .minute, .second {
    color: #ffffff; 
    font-family: 'Fragment Mono', monospace;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    opacity: 0.5;
}

.separator{
    opacity: 0.5;
}


@media screen and (max-width: 740px) {
    .clock {
        font-size: 1em;
    }
    .hour, .minute, .second {
        padding: 0.1em 0.2em;
    }

    .pesan{
        font-size: 1.2rem;
        top: 38%;
    }
    
}





